body {
	font-family:"MS PGothic", Verdana;
	color:#ffffff;
	background:#333333;
	padding:32px;
	line-height:1.6;
	letter-spacing:1px;
}

a {
	text-decoration: none;
}

a:link { color: #ffffff }
a:visited { color: #ffffff; }
a:hover { color: #ff0000; }
a:active { color: #ff8000; }